/*.table_runs td:first-child {
	text-align:left;
}*/

.table_runs{
	text-align:center;
	padding-bottom:15px;
}

.table_runs td{
	padding-top:5px;
	padding-bottom:5px;
}

.table_runs_pos{
	width:40px;	
}